<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
</head>
<body>
    <h2>Menu</h2>
    <p> Welcome,{{ name }}. Your House Number is {{ house_number }}. </p>
    <ul>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/send_invoice">Send Invoice</a></li>
        <li><a href="/record_rent_payment">Record Rent Payment</a></li>
        <li><a href="/house_history">House History</a></li>
        <li><a href="/house_summary">House Summary</a></li>
        <li><a href="/check_balance">Check Rent Balance</a></li>
    </ul>
</body>
</html>
