<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House History</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">

</head>
<body>
    <div class="container">
        <h2>House History for house number: {{ house_number}}</h2>
        <table>
            <tr>
                <th>Type</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
            {% for transaction in history %}
            <tr>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.date }}</td>
            </tr>
            {% endfor %}
        </table>
        <p>Account balance for house number: {{ house_number}} is {{ balance }}</p>
    </div>
        
</body>
</html>

