<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Summary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">

</head>
<body>
    <div class="container">
        <h2>House Summary</h2>
        <p>House Number: {{ summary.house_number }}</p>
        <p>Total Invoiced Amount: {{ summary.total_invoiced_amount }}</p>
        <p>Total Paid Amount: {{ summary.total_paid_amount }}</p>
        <p>Balance: {{ summary.balance }}</p>
    </div>
</body>
</html>
